{% load static %}
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="{% static 'logo.png' %}" alt="" width="80" height="80" class="d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Предложения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Как мы работаем</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Контакты</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/trip/add">Добавить тур</a>
        </li>
        {% endif %}
      </ul>
      <div class="dropdown" style="padding-right: 1%">
  <a class="btn btn-warning dropdown-toggle" href="/" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Страны
  </a>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
      {% for country in countries %}
      <li><a class="dropdown-item" href="/?search_query={{country}}">{{country}}</a></li>
      {% endfor %}
  </ul>
</div>
    </div>
  </div>
</nav>
</header>
