{% load static %}
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0 py-lg-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="{% static 'logo.png' %}" alt="" width="80" height="80" class="d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link" id="index" aria-current="page" href="/">Предложения</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" id="howwework" aria-current="page" href="/about">Как мы работаем</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" id="contacts" aria-current="page" href="/contacts">Контакты</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/trip/add">Добавить тур</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
</header>
