{% extends 'main/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    <title>Ogo Турагенство путешествий</title>
    <meta name="description" content="Турагенство Ого предоставляет услуги по поиску и бронированию туров и путевок.">
{% endblock title %}
{% block content %}
{% if mobile %}
<div style="display: flex; flex-direction: column; flex-wrap: wrap; padding-top: 40px">
<div class="w-auto" style="height: 600px; background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({% static 'palm.jpg' %});background-size: 100% 100%; flex-wrap: wrap;text-align: justify;">
<h1 class="display-6 p-5 text-white" style="text-align: center">У нас нет привычного поиска тура</h1>
{% else %}
<div style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 40px;">
<div class="w-100" style="height: 600px; background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({% static 'palm_desktop.jpg' %});background-size: 100% 100%; flex-wrap: wrap;text-align: justify;">
<h1 class="display-6 ps-5 pe-5 pb-5 text-white" style="text-align: center; padding-top: 8rem;">У нас нет привычного поиска тура</h1>
{% endif %}
    <p class="lead text-white ps-5 pe-5" style="text-align: center">После утомительного поиска на сайтах, клиенты приходят к нам за "живым общением". Посмотрите одно из горячих предложений и напишите нам.</p>

  {% if mobile %}
  <div class="w-100 text-center p-3 d-flex justify-content-center" >
          <select class="form-select w-auto" aria-label="Default select example" id="selectcountry" onchange="getComboA(this)">
              <option value="" selected>Выберете Страну</option>
              {% for country in countries %}
                  <option value="{{country}}">{{country}}</option>
              {% endfor %}
          </select>
    </div>
  <div class="w-100 text-center p-3 d-flex justify-content-center" >
          <button type="button" class="btn btn-dark" id="search">Найти горячий тур</button>
    </div>
  <div class="w-100 text-center p-3 d-flex justify-content-center" >
          <a href="https://wa.me/{{ seller.mobile_phone_number }}?text=Привет! Хочу купить тур в " id="link" class="btn btn-warning">Написать WhatsApp</a>
    </div>
  {% else %}

  <div class="w-100 text-center p-3 d-flex justify-content-center" >
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2">
          <select class="form-select w-auto" aria-label="Default select example" id="selectcountry" onchange="getComboA(this)">
              <option value="" selected>Выберете Страну</option>
              {% for country in countries %}
                  <option value="{{country}}">{{country}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="btn-group me-2">
          <button type="button" class="btn btn-dark" id="search">Найти горячий тур</button>
          </div>
          <div class="btn-group me-2">
          <a href="https://wa.me/{{ seller.mobile_phone_number }}?text=Привет! Хочу купить тур в " id="link" class="btn btn-warning">Написать WhatsApp</a>
          </div>
    </div>
  </div>
    {% endif %}
</div>
  {% for trip in trip_list %}
    {% if mobile %}
      <div class="card mb-3 border border-0 rounded-0 " style="margin: 4%; background-color: #E8E8E8" id="start">
    {% else %}
      <div class="card mb-3 border border-0 rounded-0 " style="width: 280px; margin: 10px; background-color: #E8E8E8" id="start">
    {% endif %}
{% for pic in trip.picture_set.all %}
    {% if pic.front_picture %}
    {% thumbnail pic.picture "300x300" crop="center" as im %}
    <a href="{{trip.get_absolute_url}}"><img  src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top"></a>
    {% endthumbnail %}
    {% endif %}
{% endfor %}
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
          {% if trip.stars > 2 %}
              <h5 class="card-title">{{ trip.name }} {{ trip.stars }}*</h5>
          {% else %}
              <h5 class="card-title">{{ trip.name }}</h5>
          {% endif %}
      </div>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">🏨 {{ trip.resort.country }}, {{ trip.resort }}</p>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">📆 C {{ trip.start_date|date:"d.m.Y" }} на {{ trip.duration }} ночей</p>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">👥 На двоих</p>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">🏖 {{ trip.beach }}</p>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">🥘 {{ trip.meal_type }}</p>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">⛺ {{ trip.room_type }}</p>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">💰 От {{ trip.price |floatformat:"0"}}</p>
      <a href="{{trip.get_absolute_url}}" class="btn btn-dark">Подробнее</a>
      <a href="https://wa.me/{{ seller.mobile_phone_number }}?text=Привет! Меня заинтересовал отель {{trip.name}} в {{trip.resort.country}} {{trip.resort}}" class="btn btn-warning">WhatsApp</a>
          {% if user.is_authenticated %}
          <a href="/trip/{{trip.id}}/edit" class="btn btn-danger">Изменить</a>
          {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
  <div style="flex-wrap: wrap;padding-top: 10px; padding-left: 10px;padding-right: 10px;padding-bottom: 10px">
  <p>* Цены актуальны на момент публикации. Детали уточняйте у менеджера.</p>
  </div>
<nav aria-label="Page navigation tours" style="padding-bottom:100px;">
  <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Пред</a></li>
        {% endif %}
        {% for page_number in paginator.page_range %}
            {% if page_number == page_obj.number %}
                <li class="page-item active"><a class="page-link bg-dark dark border-dark" href="?page={{ page_number }}#start">{{ page_number }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link text-dark"href="?page={{ page_number }}#start">{{ page_number }}</a></li>
            {% endif%}
        {% endfor%}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link text-dark"href="?page={{ page_obj.next_page_number }}">След</a></li>
        {% endif %}
  </ul>
</nav>
        <script>
           $(document).ready(function(){
           $(".nav-link .active").removeClass("active");
           $("#index").addClass("active");
            });

        $('#search').on('click', function() {
              var text = $('#selectcountry').val();
              window.location = "/?search_query=" + text +"#start";  
});
            function getComboA(selectObject) {
              var value = selectObject.value;  
                            console.log(value);
              var link = document.getElementById("link");
              var old_link = link.getAttribute('href');
              var new_link = old_link + value;
              link.setAttribute('href', new_link);
}
        </script>
{% endblock %}
