{% extends 'main/base.html' %}
{% load thumbnail %}
{% block title %}
    <title>Ogo Турагенство путешествий</title>
    <meta name="description" content="Турагенство Ого предоставляет услуги по поиску и бронированию туров и путевок.">
{% endblock title %}
{% block content %}
{% if mobile %}
<div style="display: flex; flex-direction: column; flex-wrap: wrap; padding-top: 120px">
{% else %}
<div style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 120px;">
{% endif %}
<div style="flex-wrap: wrap;padding-top: 10px; padding-left: 10px;padding-right: 10px;padding-bottom: 10px;text-align: justify;">
    <h1>У нас нет привычного поиска тура</h1>
    <p>Так как мы решили сэкономить Ваше время. Вы все эти системы как правило не показывают доступность тура и в конечном счете после утомительного поиска, клиенты переходят на "живое" общение с менеджером. Дак почему бы сразу не написать нам в <a href="https://wa.me/{{ seller.mobile_phone_number }}">WhatsApp</a> и мы оперативно подберем Вам идеальный тур. Реккомендуем также посмотреть одно из направлений ниже и дать нам знать, что Вам понравилось.</p>
</div>
  {% for trip in trip_list %}
    {% if mobile %}
      <div class="card" style="margin: 1%">
    {% else %}
      <div class="card" style="width: 23%; margin: 1%">
    {% endif %}
{% for pic in trip.picture_set.all %}
    {% if pic.front_picture %}
        {% if mobile %}
    {% thumbnail trip.picture_set.all.0.picture "300x300" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top">
    {% endthumbnail %}
        {% else %}
    {% thumbnail trip.picture_set.all.0.picture "500x500" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top">
    {% endthumbnail %}
        {% endif %}
    {% endif %}
{% endfor %}
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h5 class="card-title">{{ trip.name }}</h5>
      </div>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">{{ trip.description }}</p>
      <a href="/trip/{{trip.id}}" class="btn btn-dark">Подробнее</a>
      <a href="https://wa.me/{{ seller.mobile_phone_number }}?text=Меня заинтересовал отель {{trip.name}}" class="btn btn-warning">WhatsApp</a>
          {% if user.is_authenticated %}
          <a href="/trip/{{trip.id}}/edit" class="btn btn-danger">Изменить</a>
          {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
  <div style="flex-wrap: wrap;padding-top: 10px; padding-left: 10px;padding-right: 10px;padding-bottom: 10px">
  <p>* Цены актуальны на момент публикации. Детали уточняйте у менеджера.</p>
  </div>
{% endblock %}
