{% extends 'main/base.html' %}
{% load thumbnail %}
{% block title %}
        <title>Ogo Турагенство</title>
        <meta name="description" content="Турагенство Ого">
{% endblock title %}
{% block content %}
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  {% for trip in trip_list %}
  {#  Single Card Template:#}
  {% if mobile %}
      <div class="card" style="width: 48%; margin: 1%">
  {% else %}
      <div class="card" style="width: 23%; margin: 1%">
  {% endif %}
{% for pic in trip.picture_set.all %}
    {% if pic.front_picture %}
    {% thumbnail trip.picture_set.all.0.pictrure "500x500" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top">
    {% endthumbnail %}
    {% endif %}
{% endfor %}
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h5 class="card-title">{{ trip.name }}</h5>
      </div>
      <p class="card-text" style="word-wrap: normal;white-space:pre-wrap">{{ trip.description }}</p>
      <a href="/trip/{{trip.id}}" class="btn btn-dark">Подробнее</a>
      <a href="https://wa.me/79258497890?text=Меня заинтересовал отель {{trip.name}}" class="btn btn-warning">WhatsApp</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
