{% extends 'main/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
    <title>Тур в отель {{object.name}}</title>
    <meta name="description" content="Описание путевки в {{ object.resort.country }} в отель все включено {{ object.resort }}">
{% endblock title %}
{% block content %}
<div style="background-color: #E8E8E8">
<div class="container" style="padding-top: 70px; ">
    <div class="row">
     <div class="col-12 col-md-8">
        <div id="myCarousel" class="carousel carousel-dark slide" data-ride="carousel">
              <div class="carousel-indicators">
                {% for pic in object.picture_set.all %}
                    {% if pic.front_picture %}
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% else %}
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide 2"></button>
                    {% endif %}
                {% endfor %}
              </div>
          <div class="carousel-inner">
              {% if mobile %}
                {% for pic in object.picture_set.all %}
                    {% if pic.front_picture %}
                    <div class="carousel-item active" style="height: 15rem;">
                        <img class="d-block w-100" src="{{ pic.picture.url }}" style="height: 15rem;" alt="First slide">
                    </div>
                    {% else %}
                    <div class="carousel-item" style="height: 15rem;">
                        <img class="d-block w-100" src="{{ pic.picture.url }}" style="height: 15rem;" alt="Second slide">
                    </div>
                    {% endif %}
                {% endfor %}
             {% else %}
                {% for pic in object.picture_set.all %}
                    {% if pic.front_picture %}
                    <div class="carousel-item active" style="height: 32rem;">
                        <img class="d-block w-100" src="{{ pic.picture.url }}" style="height: 32rem;" alt="First slide">
                    </div>
                    {% else %}
                    <div class="carousel-item" style="height: 32rem;">
                        <img class="d-block w-100" src="{{ pic.picture.url }}" style="height: 32rem;" alt="Second slide">
                    </div>
                    {% endif %}
                {% endfor %}
             {% endif %}
          </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
       </div>
    </div>
    <div class="col-12 col-md-4">
        <h1>{{ object.name }}</h1>
      <p style="word-wrap: normal;white-space:pre-wrap">🏨 {{ object.resort.country }}, {{ object.resort }}</p>
      <p style="word-wrap: normal;white-space:pre-wrap">📆 Заезд {{ object.start_date|date:"d.m.Y" }}</p>
      <p style="word-wrap: normal;white-space:pre-wrap">🌙 {{ object.duration }} ночей</p>
      <p style="word-wrap: normal;white-space:pre-wrap">👥 На двоих</p>
      <p style="word-wrap: normal;white-space:pre-wrap">🏖 {{ object.beach }}</p>
      <p style="word-wrap: normal;white-space:pre-wrap">🥘 {{ object.meal_type }}</p>
      <p style="word-wrap: normal;white-space:pre-wrap">⛺ {{ object.room_type }}</p>
    </div>
   </div>
    <div class="row">
        <div class="col">
      <p style="word-wrap: normal;white-space:pre-line;text-align: justify;">{{ object.description }}</p>
      <a href="https://wa.me/{{ seller.mobile_phone_number }}?text=Привет! Меня заинтересовал отель {{trip.name}} в {{trip.resort.country}} {{trip.resort}}"><i class="fab fa-whatsapp-square fa-5x" style="color: #25D366"></i></a>
          {% if user.is_authenticated %}
              <a href="{{object.get_absolute_url}}edit/" class="btn btn-danger">Изменить</a>
          {% endif %}
        </div>
    </div>
    <br/>
</div>
</div>
{% endblock %}
