{% extends 'main/base.html' %}
{% block title %}
    <title>Ogo Турагенство как мы работаем</title>
    <meta name="description" content="Турагенство Ого осуществляет подбор и бронирование туров по критериям своих клиентов.">
{% endblock title %}
{% block content %}

<div class="text-wrap"  style="text-align: left;padding-top: 100px; ">
<div class="bg-light p-4 rounded-lg m-1" style="text-align: justify;padding-top: 120px; padding-left: 30px;padding-right: 30px;padding-bottom: 50px;">
<h1 class="display-6">Как мы работаем</h1>
<p>Наша фирма <a href="/">ОГО</a> осуществляет свою туристическую деятельность более 6 лет.</p>
<p>Мы работаем только с крупными и проверенными туроператорами:</p>
<ul>
    <li><a href="https://fstravel.com">TUI</a></li>
    <li><a href="https://www.sunmar.ru/">Sunmar</a></li>
    <li><a href="https://anxtour.ru/">Anex</a></li>
    <li><a href="https://pegast.ru">Pegas</a></li>
    <li><a href="https://www.icstrvl.ru">ICS Travel Group</a></li>
    <li><a href="https://intourist.ru">Интурист</a></li>
    <li><a href="https://www.bgoperator.ru">Библио-Глобус</a></li>
    <li><a href="https://r-express.ru">Русский Экспресс</a></li>
</ul>

<p>Мы работаем как в формате онлайн, так и в офисе.</p>
<p>Присылаете свои пожелания удобным для Вас способом <a href="/contacts">Контакты</a></p>
<p>Мы подбираем для Вас тур по Вашим индивидуальным критериям.</p>
<p>Все обсуждаем и согласовываем с Вами, бронируем Вам путевку (Тур бронируем по предоплате 10% от выбранного Вами предложения).</p>
<p>Заключаем договор на оказание услуг и формируем платежные поручения.</p>
<p>Оплатить тур можно с помощью перевода через онлайн банк (СПБ платежи) или по выставленному счету.</p>
<p>Готовые документы можем отправить Вам на почту или отдать при личной встрече, согласовав предварительно удобное для вас место и время.</p>
</div>
</div>

        <script>
           $(document).ready(function(){
           $(".active").removeClass("active");
           $("#howwework").addClass("active");
});
        </script>

{% endblock %}
