{% extends 'main/base.html' %}
{% block title %}
    <title>Ogo Турагенство контакты</title>
{% endblock title %}
{% block content %}
<div class="text-wrap"  style="text-align: left;padding-top: 30px; padding-bottom:40px;background-color: #E8E8E8; ">
    <div class="p-4 rounded-lg m-1" style="padding-left: 30px;padding-right: 30px">
        <h1 class="display-6">Контакты:</h1>
            <ul>
                <li><a href="https://wa.me/{{seller.mobile_phone_number }}">WhatsApp<a/></li>
                <li>email <a href="mailto:{{seller.user.email}}">{{seller.user.email}}</a></li>
                <li>по телефону +{{seller.mobile_phone_number }}  {{seller.user.first_name}}</li>
                <li><a href="https://www.instagram.com/ogo_chekhov/"> Instagram</a></li>
            </ul>
        <h2 class="display-6">Офисы продаж:</h2>
            <ul>
                <li>г. Москва, Татьянин парк 14к4. Предварительно просьба согласовать встречу по телефону или WhatsApp.</li>
                <li>г. Чехов, ул. Чехова 20Б</li>
            </ul>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A66770e41d87b7b8fc1c98bd421fe264cb5761bc70af0510933f676363ae1a3aa&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

        <script>
           $(document).ready(function(){
           $(".active").removeClass("active");
           $("#contacts").addClass("active");
});
        </script>
{% endblock %}
