{% extends 'main/base.html' %}
{% block title %}
    <title>Ogo Турагенство контакты</title>
{% endblock title %}
{% block content %}

<div class=" text-wrap"  style="text-align: left;padding-top: 120px; padding-left: 30px;padding-right: 30px;padding-bottom: 50px;">
<p>Телефоны для связи и WhatsApp:</p>
<ul>
<li><a href="https://wa.me/{{seller.mobile_phone_number }}">WhatsApp<a/></li>
<li>email <a href="mailto:{{seller.user.email}}">{{seller.user.email}}</a></li>
<li>по телефону +{{seller.mobile_phone_number }}  {{seller.user.first_name}}</li>
<li><a href="https://www.instagram.com/ogo_chekhov/"> Instagram</a></li>
</ul>
</div>

{% endblock %}
