{% extends 'main/base.html' %}
{% block title %}
    <title>Ogo Турагенство контакты</title>
{% endblock title %}
{% block content %}

<div class=" text-wrap"  style="text-align: left;padding-top: 120px; padding-left: 30px;padding-right: 30px;padding-bottom: 50px;">
<p>Телефоны для связи и WhatsApp:</p>
<ul>
<li><a href="https://wa.me/79258497890">WhatsApp<a/></li>
<li>email <a href="mailto:n.m.minaeva@gmail.com">n.m.minaeva@gmail.com</a></li>
<li>по телефону +7-925-849-78-90 (Анастасия)</li>
<li>по телефону +7-926-760-66-05 (Анастасия)</li>
<li><a href="https://www.instagram.com/ogo_chekhov/"> Instagram</a></li>
</ul>
</div>

{% endblock %}
